<h1> New Game</h1>
<div class="wrapper">
    <%@letters.each do |letter|%>
    <div><%=letter%></div>
    <%end%>
</div>


<%= form_tag('/posts') do -%>
<%=hidden_field_tag 'alphabet', @letters%>
<%=text_field_tag 'words',nil, class:"input"%>
  <div><%= submit_tag 'Play' %></div>
<% end -%>